.center-item {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.center-item img {
    width: 115px;
}
.cart-iteams {
    background-color: #fff;
    border-radius: 10px;
    padding: 15px 20px;
    margin-bottom: 20px;
}
.cart-iteams .input-group {
    width: 42%;
}
.cart-iteams h5 {
    padding: 0 45px;
}
.cart{
	margin: 100px 0;
	background-color: #F6F5FA;;
	padding: 60px 0;
}
img.remove-item {
    width: 25px !important;
}
.status {
    text-align: right;
}

.check-out {
    float: right;
}
